<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>About</title>
	<link rel="stylesheet" type="text/css" href="static/about.css">
</head>
<body>
	<div id = "bar" class = "sidebar">
			<a href="{{url_for('todo.home')}}" id="home">Home</a>
			<a href="{{url_for('todo.login')}}" id="login">Login</a>
			<a href="{{url_for('todo.contact')}}" id="contact">Contact</a>
			<a href="{{url_for('todo.register')}}" id="register">Register</a>
		</div>
	<h1>About</h1>
	<p>A personal todo list manager where you can maintain and schedule tasks. <br>Strike them off as they're done, you can check tasks that are in due and look
at an overall agenda. And we help you to upto date with your busy schedule.<br> ToDo manager has the certain pieces of functionalities such as add a task,schdule a task, show overdue tasks and mark task as done once you are updated.Also implemented a user authentication system that keeps the data of perticular user safer.<br></p>
<h2>
	<br><br>
	Login to start journey with ToDo Manger<br>. . .
</h2>

</body>
</html>
