<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>ToDo</title>
		<link rel="stylesheet" type="text/css" href="static/contact.css">
	</head>
	<body>
		<div id = "bar" class = "sidebar">
			<a href="{{url_for('todo.home')}}" id="home">Home</a>
			<a href="{{url_for('todo.about')}}" id="about">About</a>
			<a href="{{url_for('todo.login')}}" id="login">Login</a>
			<a href="{{url_for('todo.register')}}" id="register">Register</a>
		</div>
		<div class="address">
			<address>
				Created by <b>Rahul K R</b><br>
				Visit me<br>
				rahul_b180664ec@nitc.ac.in<br>
				National Institute of Technology,Calicut<br>
				India<br>
				Phone: +91-9048311623
			</address>
		</div>
	</body>
</html>