<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="static/index.css">
</head>
<body>
	<div class="bg">
	<h1>ToDo Manager</h1>
	<div class="tabs">
	<a href="/about"><button name="About" class="about_b">About</button></a>
	<a href="/login"><button name="Login" class="login_b">Login</button></a>
	<a href="/register"><button name="Register" class="register_b">Register</button></a>
	<a href="/contact"><button name="contact" class="contact_b">Contact</button></a>
	</div>
	<div class="quotes">
	<p style = "text-align: center;">“If your dreams don’t scare you, they are too small.”<em>-Richard Branson</em><br> <br>“The difference between ordinary and extraordinary is that little extra.” <em>-Jimmy Johnson</em><br><br>“It always seems impossible until it’s done.”<em>-Nelson Mandela</em><br><br>“The best revenge is massive success.”<em>-Frank Sinatra</em></p><br>
	</div>
</div>
</body>
</html>
